body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

/*
В header добавить верхний отступ в 10px (подсказка: в css для header уже есть нижний отступ), а также слева и справа добавить внутренний отступ в размере 20px
В логотипе сделать внутреннее пространство: сверху и снизу 5px, слева и справа 15px
*/

.header {
    display: flex;
    border-bottom: 1px solid #000;
    font-size: 20px;
    padding: 10px 20px;
    align-items: center;
}
.logo {
    margin-right: 50px;
    text-decoration: none;
    color: lightgreen;
    background-color: rebeccapurple;
    font-weight: 700;
    padding: 5px 15px;
}

a {
    text-decoration: none;
    color: rebeccapurple;
    font-weight: 700;
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    gap: 30px;
}
ul > li {
    /*margin-right: 30px;*/
}



.box {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    border-bottom: 1px solid #000;
}

/*- Указать класс с именем link и присвоить следующие стили:

- фон в цвете rebeccapurple
- цвет текста white
- внутренние отступы сверху-снизу 8px и слева-справа 15px
внешний отступ слева 10px
2) В стилях нужно для последнего ul > li указать margin-right: 0; Сделать это нужно используя селектор, который позволит выйти на последний li.
*/

.link {
    background-color: rebeccapurple;
    color: white;
    padding: 8px 15px;
    /*margin-left: 10px;*/
    display: block;
    text-align: center;
    margin-top: 10px;
    align-items: flex-end;
    position: bottom;

}

ul > li:last-child {
    margin-right: 0;
}

ul {
    gap: 30px;
}

.results section {
    min-width: 1700px;
    max-width: 190px;
    min-height: 180px;
}

.aside {
    background-color: lavender;
    padding: 10px 20px;
}

.section-container  section  {
   background-color: lavender;
    padding: 5px 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.post {
    padding-bottom: 20px;
}

footer {
    font-size: 13px;
    padding: 20px;
}

.results {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 800px) {
    
    body {
    /*background-color: aqua;*/
    }

    .results {
        display: block;
        max-width: 200px;
        gap: 10px;
    }
}


