body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

/*
В header добавить верхний отступ в 10px (подсказка: в css для header уже есть нижний отступ), а также слева и справа добавить внутренний отступ в размере 20px
В логотипе сделать внутреннее пространство: сверху и снизу 5px, слева и справа 15px
*/

.header {
    display: flex;
    border-bottom: 1px solid #000;
    font-size: 20px;
    padding: 10px 20px;
    align-items: center;
}
.logo {
    margin-right: 50px;
    text-decoration: none;
    color: lightgreen;
    background-color: rebeccapurple;
    font-weight: 700;
    padding: 5px 15px;
}

a {
    text-decoration: none;
    color: rebeccapurple;
    font-weight: 700;
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
ul > li {
    margin-right: 30px;
}
.box {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    border-bottom: 1px solid #000;
}

/*- в блоке aside убрать border-right и padding-right, чтобы окрасить этот блок в цвет lavender и установить внутренний отступ в значениях 10px 20px
- блок section окрасить в lavender, добавить внутренние отступы 5px 20px и сделать нижний внешний отступ в значении 20px
- в ul > li увеличить значение до 30px
в footer добавить внутренний отступ слева и справа в размере 20px
(дополнительно) установить в .header еще 1 стиль: align-items: center;
*/
.aside {
    background-color: lavender;
    padding: 10px 20px;
}

.section-container  section  {
   background-color: lavender;
    padding: 5px 20px;
    margin-bottom: 20px;
}



.post {
    padding-bottom: 20px;
}

footer {
    font-size: 13px;
    padding: 20px;
}